.signup{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:1rem;
    border-radius: 5px;

    height:25rem;

}

.signup>img{
    height: 5rem;
}

.signup-btn-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:4rem;
    text-align: center;
}

