.signin {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 5px;
    height: 28rem;
    max-width: 15rem;
}

.signin>img {
    height: 5rem;
}

.signin-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 14rem;
    text-align: center;
}

.signin-btn-container>p {
    margin-top: 0.5rem;
}

.signin-btn-container>p>span {
    cursor: pointer;
}