

.loaderContainer{
  position: fixed;
  min-height: 100vh;
  min-width: 100vw;
  top:0;
  left:0;
  bottom: 0;
  right:0;
  background: rgba(0, 0, 0, 0.4) ;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
    border: 0.7rem solid var( --white ); /* Light grey */
    border-top: 0.7rem solid var(--primary); /* Blue */
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }