.mentorCard {
  height: 18rem;
  width: 18rem;
  background-color: white;

  margin: 1px;
  overflow:hidden;
}

.mentorCard:hover .mentorCard-mentor-pic {
  transform: scale(1.25);

}

.mentorCard-mentor-pic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  height: 100%;


}

.mentorCard-mentor-pic {
  height: 10rem;
  width: 10rem;
  cursor: pointer;
  object-fit: contain;


}

.mentorCard-mentor-pic-container>p {
  font-size: 1.3rem;
}




.mentor-card-modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.6);
}

.mentor-card-modal {
  /* border: 3px solid var(--primary); */
  background-color: var(--white);
  width: 45vw;
  height: 85vh;
  position: relative;
  border-radius: 15px;
}

.mentor-card-modal-banner-container {
  height: 40%;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px 12px 0 0;
  overflow:hidden
}

.mentor-card-modal-banner {
  height: 70%;
  object-fit: contain;
}

.mentor-card-modal-intro {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 20%;
}

.mentor-card-modal-intro-pic {
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  margin: 0 6%;
  position: relative;
  bottom: 3rem;
  object-fit: contain;
}

.mentor-card-modal-intro-text {

  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.mentor-card-modal-intro-text>h1 {
  font-size: 2rem;
  color: var(--highlight-text);
  font-family: logo;
}



.mentor-card-modal-mentor-description {
  color: var(--primary-bold-text);
  font-size: 1.5rem;
  padding: 2.5% 6%;
  height: 20%;
}

.mentor-card-modal-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  border-radius: 0px 0px 13px 13px;
}

.mentor-card-modal-hide {
  display: none;
}

.mentor-card-modal-show {
  display: flex;
  justify-content: center;
  align-items: center;
}


@media only screen and (max-width: 600px) {

  .mentorCard {
    height: 12rem;
    width: 12rem;
    background-color: white;
    margin: 1px;
  }

  .mentorCard-mentor-pic {
    height: 10rem;
    width: 10rem;
  }

  .mentorCard-mentor-pic-container>p {
    font-size: 1.1rem;

  }



  .mentor-card-modal {
    width: 80vw;
    height: 75%;
  }

  .mentor-card-modal-banner-container {
    height: 40.3%;
  }

  .mentor-card-modal-intro {
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;

  }

  .mentor-card-modal-intro-pic {
    height: 7rem;
    margin: 0;
  }

  .mentor-card-modal-intro-text {
    height: 4rem;
  }

  .mentor-card-modal-intro-text>h1 {
    font-size: 1.6rem;
    color: var(--highlight-text);
  }


  .mentor-card-modal-mentor-description {
    font-size: 1.2rem;
  }

  .mentor-card-modal-btn-container>button {
    font-size: 0.9rem;

    padding: 0.4rem 0.8rem;
  }

  .mentor-card-modal-btn-container>button:hover {
    font-size: 1rem;
  }
}