.historyPage {
    display: flex;
    min-height: 100vh;
}

.historyDisplay{
    margin:1rem;
}
@media only screen and (max-width: 600px) {
    .historyPage {
        flex-direction: column;
    }



}