.hero {
    position: relative;
}


.heroBackground {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100%;

}




.heroContainer {
    display: flex;
    position: relative;
    z-index: var(--layer-1);
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}




.heroNavbar {

    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 1vw 2vw 0vw 2vw;
}

.heroBrand {
    height: 3rem;
}

.menuBrand {
    height: 2.5rem;
    cursor: pointer;
}


.heroSideNavContainer {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
    transition: all 0.5s;
}

.slideShow {
    display: flex;
    flex: 2;
    position: relative;

    transition: 1.5s;
}

.left-arrow {
    height: 2.5rem;
    position: absolute;
    top: 50%;
    left: 2rem;
    cursor: pointer;
    z-index: var(--layer-1);
}

.right-arrow {
    height: 2.5rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    cursor: pointer;
    z-index: var(--layer-1);
}

.slide {

    display: flex;
    align-items: flex-end;
    min-width: 100vw;
    justify-content: space-between;
    position: relative;
}

.slideMentorImg {
    position: relative;
    left: 2rem;
    height: 30rem;
}

.slideMentorDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 8rem;
    right: 15rem;
    max-width: 40vw;
}

.mentorName {
    font-family: logo;
    font-size: 3rem;
    color: var(--primary);
    padding: 0.7rem 0;
}



.mentorType {
    font-size: 1.7rem;
    color: var(--white);
    padding: 1rem 0;

}

.mentorDescription {
    font-size: 1.2rem;
    color: var(--white);
    overflow-wrap: break-word;
    padding: 1.5rem 0;

}

.startLearning {
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
    font-family: logo;
}


.hero-show {

    transform: translateX(0vw);
}

.hero-hide {

    transform: translateX(-100vw);
}

.tagline{
    color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tagline h1{
    font-family: logo;
    font-size: 2rem;
    padding-top: 0;
    margin-top: 0; 
}


@media only screen and (max-width: 600px) {

    .tagline{padding: 0 2rem;
        text-align: center;
    }
 
    .tagline h1{
        font-family: logo;
        font-size: 1.6rem;
        padding-top: 0.5rem;
        margin-top: 0; 
    }
    
    .slideShow {
        display: flex;
        flex: 2;

    }

    .left-arrow {
        height: 2.5rem;
        position: absolute;
        top: 50%;
        left: 1rem;
        cursor: pointer;
        z-index: var(--layer-1);
    }

    .right-arrow {
        height: 2.5rem;
        position: absolute;
        top: 50%;
        right: 1rem;
        cursor: pointer;
        z-index: var(--layer-1);
    }

    .slide {

        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;

        justify-content: center;
        position: relative;
        /* display: none; */
    }

    .slideMentorImg {
        position: relative;
        left: 0;
        height: 13rem;
    }

    .slideMentorDetails {
        display: flex;

        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: relative;
        top: 0rem;
        right: 0rem;
        margin-top: 1rem;

        /* min-height: 10rem; */
        max-width: 95vw;
        text-align: center;

    }

    .mentorName {
        font-family: logo;
        font-size: 1.7rem;
        color: var(--primary);
        padding: 0.1rem 0;
    }



    .mentorType {
        font-size: 1.2rem;
        color: var(--primary-text);
        padding: 0.1rem 0;
    }

    .mentorDescription {
        font-size: 1rem;
        color: var(--primary-text);
        padding: 0.4rem 0;
    }

    .startLearning {
        font-size: 1rem;
        padding: 0.4rem 0.8rem;
    }


}