.mentor {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.mentor-grid {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 14rem 14rem 14rem 14rem;
    grid-row: auto;
    grid-gap: 1rem;
}

@media only screen and (max-width: 600px) {
    .mentor-grid {
        grid-template-columns: 12rem 12rem;
        grid-gap: 1rem;
    }
}