 .mentorHeader {
   width: 100%;
 }

 .mentorHeader-banner-container {
   height: 12rem;
   /* width: 83.7vw; */

   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--primary);
 }

 .mentorHeader-banner {
   height: 100%;
 }

 .mentorHeader-mentor-details-container {
   display: flex;
   width: 90%;
   align-items: center;
   background-color: var(--white);
   justify-content: space-between;
   padding: 0 5%;


 }


 .mentorHeader-mentor-details {
   display: flex;
   align-items: center;
 }

 .mentorHeader-mentor-img {
   height: 5rem;
   width: 5rem;
   border-radius: 50%;
   margin: 1rem 0rem;
 }


 .mentorHeader-mentor-text {
   height: 4rem;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-between;

   margin: 0 1rem;

 }

 .mentorHeader-mentor-text>h1 {
   color: var(--highlight-text);
   font-size: 1.5rem;
   font-family: logo;
 }

 .mentorHeader-mentor-text>p {
   color: var(--primary-text);
   font-size: 1.2rem;
 }



 .playlistHeader {
   display: flex;
   width: 90%;
   align-items: center;
   background-color: var(--white);
   justify-content: flex-start;
   padding: 0 5%;
 }


 .playlistHeader>p {
   padding: 0.5rem 1rem;
   margin: 0 0.5rem;
   font-size: 1rem;
   cursor: pointer !important;
 }

 .playlistHeader>p:hover {

   transform: scale(0.95);

 }

 .active {
   border-bottom: 1px solid var(--primary);
   font-weight: bold;
   color: var(--primary);

 }

 @media only screen and (max-width: 600px) {

   .playlistHeader>p {
     font-size: 0.85rem;
   }

   .mentorHeader-banner-container {
     height: 11rem;
     width: 100vw;

   }

   .mentorHeader-banner {
     height: 70%;
   }


   .mentorHeader-mentor-text {
     height: 4rem;
     margin: 0 1rem
   }

   .mentorHeader-mentor-img {
     height: 5rem;
     width: 5rem;
     border-radius: 50%;
     /* margin: 1rem 2rem; */
   }

   .mentorHeader-mentor-text {
     height: 4rem;
   }

   .mentorHeader-mentor-text>h1 {
     font-size: 1.5rem;
   }

   .mentorHeader-mentor-text>p {
     font-size: 1rem;
   }

   
 }