.searchVideoCard {
    display: flex;
    margin: 1rem;
    align-items: stretch;
    width: 100%;
}


.searchVideoDetailsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 60vw;
    word-break: break-all;
    margin:0 1.5rem;
}

.searchVideoCardMentorDetails {
    display: flex;
    align-items: center;
}

.searchVideoCardMentorImg {
    height: 2rem;
    margin-right: 0.5rem;
}

.searchVideoDetailsContainer>p {
    font-size: 1.2rem;
}

.searchVideoDetails {
    font-size: 0.8rem;
    color: var(--primary-text);
    height: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {


    .searchVideoDetailsContainer {
        min-width: 0;
        max-width: 40vw;

    }

    .searchVideoDetailsContainer>p {
        font-size: 1rem;
    }

    .searchVideoDetails {
        font-size: 0.8rem;
    }
}