.navbar {
    display: none;
}


@media only screen and (max-width: 600px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5vw 2vw;
        position: sticky;
        top: 0;
    }

    .navbarBrandlogo {
        height: 2.5rem;
    }

    .navbarMenu {
        height: 2rem;
        cursor: pointer;
    }



}