.recommendVideoCard {
    display: flex;
    margin: 1rem;

    max-width:21rem;
}



.recommendVideoDetailsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
    flex:1;
    min-width: 9.5rem;
}

.recommendVideoDetailsContainer>p {
    font-size: 0.8rem;
}

.recommendvideoDetails {
    font-size: 0.8rem;
    color: var(--primary-text);
    display: flex;
    align-items: center;
}

.recommendvideoDetails img {
    height: 1.8rem ;
    margin-right: 1rem;
}



@media only screen and (max-width: 600px) {
    .recommendVideoCard {
        display: flex;
        margin: 1rem;
        max-width:100%;
    }   
    .recommendVideoDetailsContainer{
        min-width: 14.5rem;
    }

    .recommendVideoDetailsContainer>p {
        font-size: 1rem;
    }
}