
.questionBox{
    display: flex;
    align-items: center;
    width: 95%;
    justify-content: space-between;
    padding: 2rem 0;
}

.questionBox>input{
    width:85%;

    font-size:1.5rem;
    border:none;
    outline: none;
}
.enterComment{
    height: 3rem;
    cursor: pointer;
}

.enterComment:hover{
    transform: scale(0.9);
}

.individual-question-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment-edit-icon{
   height: 1.2rem;
   cursor: pointer;
    }

.comment-delete-icon{
margin:0 2rem;height: 1.2rem;
cursor: pointer !important;
}


.comment-edit-icon:hover{
    transform: scale(1.1);}
 
 .comment-delete-icon:hover{
transform: scale(1.1);}

 .comment-edit-icon:active{
    transform: scale(0.9);}
 
 .comment-delete-icon:active{
transform: scale(0.9);}
.question{
    display: flex;
    width:95%;
    align-items: flex-start;
 
    padding:1.5rem 0
}

.question p{    margin-left:1.2rem;
}
@media only screen and (max-width: 600px) {
    .questionBox{
        width: 100%;
    }
    .question{
        width:100%
    }
}