.historyVideoCardContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    /* max-width:70%; */
    /* min-width:80vw; */
}

.historyVideoCard {
    display: flex;
    /* max-width: 70vw; */
}

.historyVideoDetailsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-break: break-all;
    margin: 0 1rem;
}

.historyVideoCardMentorDetails {
    display: flex;
    align-items: center;
}

.historyVideoCardMentorImg {
    height: 2rem;
    margin-right: 0.5rem;
}

.historyVideoDetailsContainer>p {
    font-size: 1.2rem;
}

.historyVideoDetails {
    font-size: 0.8rem;
    color: var(--primary-text);
    height: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


@media only screen and (max-width: 600px) {
    .historyVideoCardContainer {

        margin: 1rem 0.2rem;
    }

    .historyVideoDetailsContainer>p {
        font-size: 1rem;
    }

    /* .historyVideoDetailsContainer {
        min-width: 12.5rem;
    } */

    .historyVideoCardMentorImg {
        height: 1.5rem;
        margin-right: 0.5rem;
    }
}