.likedVideoPage {
    display: flex;
}


.likedVideos {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: 100vh;
}



.likedVideosHeading {
    font-size: 1.7rem;
    padding: 1rem;
}

.likedVideoPageGrid {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 14rem 14rem 14rem 14rem;
    grid-row: auto;
    grid-gap: 1rem;
}



@media only screen and (max-width: 1200px) {


    .likedVideoPageGrid {
        grid-template-columns: 14rem 14rem;
        grid-gap: 1rem;
    }


}

@media only screen and (max-width: 600px) {
    .likedVideoPage {
        flex-direction: column;
    }

    .likedVideoPageGrid {
        grid-template-columns: 12rem 12rem;
        grid-gap: 1rem;
    }


}